.account-page
  .header
  .mypage-content
    .left-content
      %nav.content_nav
        %ul.content-nav-list
          %li
            %a{:href => ""} 登録情報
            %i.icon-arrow-right
          %li
            %a{:href => ""} クレジットカード
            %i.icon-arrow-right
          %li
            %a{:href => ""} 出品商品情報
            %i.icon-arrow-right
          %li
            %a{:href => ""} 購入商品情報
            %i.icon-arrow-right
          %li
            %a{:href => ""} ログアウト
            %i.icon-arrow-right
    .right-content
      .image
        .icon
        
        .data
        KSK mypage
        現在の出品数 【０】
.p
  © 2020 Fleamarket_sample_74d, Inc.
        

        