
<div class="wrapper">
  <div class="header">
    
  </div>

  <div class="mypage-content">
    <div class="left-content">
      <nav class="content_nav">
        <ul class="content-nav-list">
          <li>
            <a href=''>マイページ</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>Like!</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>出品する</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>出品した商品 - 出品中</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>出品した商品 - 取引中</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>出品した商品 - 売却済み</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>購入した商品 - 取引中</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>購入した商品 - 過去の取引</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>ニュース</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>評価一覧</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>ガイド</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>お問い合わせ</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
        </ul>
      <div class="content-nav-head">メルペイ
        <ul class="content-nav-list">
          <li>
            <a href=''>売上・振込申請</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>ポイント</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
        </ul>
      </div>
      <div class="content-nav-head">設定
        <ul class="content-nav-list">
          <li>
            <a href=''>プロフィール</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>発送元・お届け先住所変更</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>支払い方法</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>メール/パスワード</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>本人情報</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>電話番号の確認</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
          <li>
            <a href=''>ログアウト</a> <%#  link %>
            <i class="icon-arrow-right"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="right_content">
      <div class="mypage-tab-container">
        <div class="mypage-tab">
          <h3>
            <a href=''>お知らせ</a> <%#  link %>
          </h3>
        </div>
        <div class="tab-content">
        
        </div>
      </div>
    </div>
  </div>
</div>
 <%#   <div class=""></div>  %>