@mixin hover{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
@mixin blight-hover{
  background-color: #adf2f5;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.top-header{
  // position: fixed;
  height: 110px;
  width: 100%;
  background-color: white;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  z-index: 3;
}
.account-page{
  height: 100%;
  width: 100%;
  display: inline-block;

  .mypage-content{
    // padding-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;

    .left-content{
      margin-top: 50px;
    
      .content_nav{
        list-style: none;
        font-size: 30px;
        font-weight: bold;
        margin-left: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 300px;
        
        li{
          font-size: 15px;
          color: white;
          text-align: center;
          margin-top: 5px;
          height: 50px;
          width: 100%;
          background-color: #3CCACE;
          @include hover;
          .setting{
            margin-top: 5px;
            font-size: 30px;
          }
        }
        li:hover{
          @include blight-hover;

        }
        

        a{
          color: white;
          text-decoration: none;
          line-height: 50px;
        }
      }
    }
    .right-content{
      height: 400px;
      width: 100%;
      margin: 50px 50px 0 50px;
      display: inline-block;
      .image{
        height: 300px;
        width: 100%;
        background-image: url("/pict/bg-appBanner-pict.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        
        .icon{
          height: 50px;
          width: 50px;
          z-index: 2;
          background-image: url("/icon/icon_camera.png");
          background-size: contain;
          background-repeat: no-repeat;
        }
        .data{
          width: 140px;
          height: 100px;
          z-index: 2;
          font-weight: bold;
          font-size: 20px;
          text-align: center;
        } 
      } 
      .image::before {
        background: inherit;
        content: '';
        filter: blur(5px);
        position: absolute;
        top: -5px;
        right: -5px;
        bottom: -5px;
        left: -5px;
      }
    }
  }
}


.p{
  align-content: center;
}