* {
  box-sizing: border-box;
}

header {
  
}

main {
  background-color: #f8f8f8;
  width: 100%;
  height: 560px;
}

.banner-ad {
  background-color: lightslategray;
}

footer {
  background-color: black;
}