.pcHeader
  .headerInner
    .mainheader
      .icon
        %a.logo
      .searchBox
        -# = form_tag('/search', method: :get, class: 'search-form')
        %input.search-form{name: "keyword", placeholder: "キーワードから探す", type: "text", value: ""}
        %button.btn-search{title: "検索", type: "submit"}
          = icon("fa","search",class: "search-form__icon")
    .nav
      .listsLeft
        .listsLeft__item
          カテゴリー
        .listsLeft__content
          ブランド
      .listRight
        .listRight__item
          ログイン
        .listRight__content
          新規会員登録
.breadCrumbs
  FURIMA   >   レディース   >   トップス   >   Tシャツ/カットソー(半袖/袖なし)   >   product1