.main
  .main-visual
    .main-contents
      .main-content__subtitle
      .main-content__text
      .main-content__btn
        .main-content__btn__app
        .main-content__btn__google
  .app-introduction
    .intruduction-subtitle
    .lists

  .middle-visual
    .middle-content
      .middle-content__subtitle
      .middle-content__text
      .middle-content__btn
        .middle-content__btn__app
        .middle-content__btn__google

  .app-feature
    .feature-subtitle
    .feature-contents

  .picup-container
    .head
    .products

  -# 後ほど複製
