%body
  %header
    .header-contents
      .main-header
        .logo
        .search-box
      .nav
        .nav__left-box
          .nav__left-box__left
          .nav__left-box__right
        .nav__right-box
          .nav__right-box__left
          .nav__right-box__right
  %main
  .banner-ad
    %div
      %footer
