.top-header
  .header-contents
    .main-header
      %h1.logo
        =link_to image_tag("/logo/logo.png"),"/"
      .search-box
        %form
          %input.search-box--input{id: "search-input", name: "key", placeholder: "キーワードから探す"}
            %button{type: "submit"}
              .search-box__icon
                =link_to image_tag("/icon/icon-search 1.png"),"#"

    .nav
      %ul.left-box
        %li.left-box__item.left-box__item--left
          =link_to "カテゴリー"
        %li.left-box__item
          =link_to "ブランド"
      %ul.right-box
        - if user_signed_in?
          %li.right-box__item.right-box__item--login
            =link_to "ログアウト", destroy_user_session_path, method: :delete
          %li.right-box__item.right-box__item--new
            =link_to "マイページ", mypages_path
        - else
          %li.right-box__item.right-box__item--login
            =link_to new_user_session_path do
              ログイン
          %li.right-box__item.right-box__item--new
            =link_to new_user_registration_path do
              新規会員登録
