.buy__confirmation {
  width: 100vw;
  height: 900px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  background-color: #f8f8f8;

  &--info {
    width: 100vw;
    height: 700px;
    font-weight: bold;
    background-color:#f8f8f8;

    &--title {
      width: 100vw;
      height: 100px;
      line-height: 100px;
      text-align: center;
      padding: 20px 0px 10px;
      font-size: 30px;
    }

    &--item {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10px; 

      .image {
        margin: 5px;
      }
    }

    &--form {
      height: 500px;
      font-size: 20px;

      &--box {
        padding: 10px 0 10px;
        text-align: center;
          
      }

      .label {
        padding: 10px 20px 10px;
      }

      .edit {
        width: 70px;
        height: 30px;
        line-height: 30px;
        margin: 10px auto;
        font-size: 12px;
        background-color: gray;
        font-weight: bold;
        border-radius: 4px;
      }

      .edit__btn {
        text-decoration: none;
        color: white;
        cursor: pointer;
      }

      &--register {
        text-align: center;
        line-height: 120px;
      }

      .purchase__btn {
        color:white;
        background-color: red;
        cursor: pointer;
        padding: 5px;
        border-radius: 4px;
      }
    }
  }
}