.buy__confirmation
  .buy__confirmation--info
    .buy__confirmation--info--title 
      購入内容の確認
    .buy__confirmation--info--item
      .image
      .name
        ゲームボーイ
      .price
        ¥10,000（税込・送料込）

    = form_with url: new_transaction_path, class: 'buy__confirmation--info--form' do |form|
      .buy__confirmation--info--form--box
        .box
          .label 
            支払金額
          .data
            ¥10,000
      .buy__confirmation--info--form--box
        .label 
          支払方法
        .title
          クレジットカード
        .data
          ************1111
          01/24
        .edit
          = link_to "変更する", new_card_path, class: 'edit__btn'
      .buy__confirmation--info--form--box
        .label 
          配送先
        .data
          〒111-0000
          北海道札幌市手稲区手稲１−１−１
          山田　太郎
        .edit
          = link_to "変更する", new_registration_path, class: 'edit__btn'
      .buy__confirmation--info--form--register
        = link_to "購入する", root_path, class: 'purchase__btn'