.account-main {
  max-width: 343px;
  margin: 0 auto;
  background-color: white;
  .account-top
    &__title{
      padding: 50px;
      font-size: 23px;
      font-weight: bold;
      text-align: center;
    }
  .account-contents {
    padding: 24px 16px 40px;
    .account-input {
      margin-bottom: 30px;
      &__title {
        font-size: 16px;
        font-weight: bold;
      }
      &__text {
        margin: 8px 0 0;
        padding: 0;
        font-size: 14px;
      }
      .field {
        margin: 24px 0 0;
      }
      .input-default {
        width: 100%;
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
    
      }
      .input-default.half {
        width: calc(50% - 6px);
      }
      label {
        font-weight: bold;
        font-size: 14px;
      }
      .form-require {
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        vertical-align: top;
        background: #ea352d;
      }
      // 任意項目の記述
      // 現時点、不必要なのでコメントアウト

      //  .form-require-not{
      //     display: inline-block;
      //     background-color: rgb(80, 71, 71);
      //     color: #ffffff;
      //     padding: 3px;
      //     font-size: 15px;
      //     border-radius: 2px;
      //     vertical-align: bottom;
      //   }
      .field-birthday {
        margin-top: 10px;
        .birthday-select-wrap {
          .year {
            height: 48px;
            width: 76px;
            border: 1px solid #ccc;
          }
          .month {
            height: 48px;
            width: 76px;
            border: 1px solid #ccc;
          }
          .day {
            height: 48px;
            width: 76px;
            border: 1px solid #ccc;
          }
        }
      }
      .account-text {
        font-size: 17px;
        text-align: center;
        padding-top: 50px;
      }
      .account-submit {
        .submit-form {
          height: 50px;
          width: 100%;
          margin-top: 60px;
          background-color: #1dbcc7;
          color: white;
          border: none;
          border-radius: 4px;
        }
      }
    }
  }
}
